/* IranYekan Font - برای فارسی */
@font-face {
  font-family: 'IranYekan';
  src: url('/fonts/IranYekan/IRANYekanWebRegular.woff2') format('woff2'),
       url('/fonts/IranYekan/IRANYekanWebRegular.woff') format('woff'),
       url('/fonts/IranYekan/IRANYekanWebRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IranYekan';
  src: url('/fonts/IranYekan/IRANYekanWebLight.woff2') format('woff2'),
       url('/fonts/IranYekan/IRANYekanWebLight.woff') format('woff'),
       url('/fonts/IranYekan/IRANYekanWebLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IranYekan';
  src: url('/fonts/IranYekan/IRANYekanWebMedium.woff2') format('woff2'),
       url('/fonts/IranYekan/iranyekanwebmedium.woff') format('woff'),
       url('/fonts/IranYekan/IRANYekanWebMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IranYekan';
  src: url('/fonts/IranYekan/IRANYekanWebBold.woff2') format('woff2'),
       url('/fonts/IranYekan/IRANYekanWebBold.woff') format('woff'),
       url('/fonts/IranYekan/IRANYekanWebBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* NotoSansArabic Font - برای عربی */
@font-face {
  font-family: 'NotoSansArabic';
  src: url('/fonts/NotoSansArabic/NotoSansArabic-Regular.woff2') format('woff2'),
       url('/fonts/NotoSansArabic/NotoSansArabic-Regular.woff') format('woff'),
       url('/fonts/NotoSansArabic/NotoSansArabic-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSansArabic';
  src: url('/fonts/NotoSansArabic/NotoSansArabic-Light.woff2') format('woff2'),
       url('/fonts/NotoSansArabic/NotoSansArabic-Light.woff') format('woff'),
       url('/fonts/NotoSansArabic/NotoSansArabic-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSansArabic';
  src: url('/fonts/NotoSansArabic/NotoSansArabic-Medium.woff2') format('woff2'),
       url('/fonts/NotoSansArabic/NotoSansArabic-Medium.woff') format('woff'),
       url('/fonts/NotoSansArabic/NotoSansArabic-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSansArabic';
  src: url('/fonts/NotoSansArabic/NotoSansArabic-Bold.woff2') format('woff2'),
       url('/fonts/NotoSansArabic/NotoSansArabic-Bold.woff') format('woff'),
       url('/fonts/NotoSansArabic/NotoSansArabic-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}




